.nav-link{
    color: beige;
    margin-right: 10px;
}
.navbar{
    background-color: black;
    opacity: 92%;
}
a:link:hover{
    color:aliceblue;
    text-shadow: 1px 1px 5px #CCC;
}
#fotos{
    width: 90%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}
.foto{
    margin-left: 50px;
}

.fundo{
    background-color: black;
}
.text-left{
    margin-left: 150px;
}
#perfil {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 2rem 0 1rem;
    margin-left: 0 auto;
    margin-top: 10px;
}
.final{
    margin-top: 500px;
}
.margin{
    text-align: left;
}
.video{
    margin-top: 30px;
    margin-left: 30px;
}
.fvideo{
    background-color: rgb(63, 58, 58);
    margin-top: 455px;
    opacity: 98%;
    
}
.texto{
    color:white;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.tamanho{
    text-align: center;
    width: 100%;
    height: 100%;
}
figure { width: 70%; min-width: 17.5em; margin:0 auto;}
figcaption { font: 120% sans-serif; text-align: center;}
.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}
.boxVideo iframe {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer{
    background-color: grey;
    color: white;
}
.logo{
    width: 45px;
    height: 45px;
}
.rodape{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}
.bio{
    font-size: 16px;
}
#canal{
    background-color: black;
    margin-top: 50px;

}
.canais{
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.btn{
    margin-left: 90px;
    margin-right: 90px;
}
.fcanal{
    background-color: rgb(63, 58, 58);
    opacity: 98%;
    margin-top: 30px;
}
.pad{
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
}
.ffotos{
    background-color: rgb(63, 58, 58);
}
.rodapef{
    background-color: rgb(63, 58, 58);
    color: white;
}